# =========================
# Core ML
# =========================
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2

# =========================
# NLP
# =========================
transformers==4.38.2
sentencepiece==0.2.0

# =========================
# Data handling
# =========================
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.2

# =========================
# Video / Audio
# =========================
opencv-python-headless==4.9.0.80

# =========================
# Training utilities
# =========================
tqdm==4.66.2
tensorboard==2.16.2

# =========================
# AWS / SageMaker
# =========================
sagemaker==2.222.1
boto3==1.34.76

# =========================
# Misc
# =========================
packaging==24.0
